ai_identity: "%{ai_identity}%"
ai_shm_dir: "{infer:env:XDGX_SHM_DIR}/ai/{infer:ai_identity}/{infer:session_nom}"
bonded:
    fae:
        identity: "%{bonded_fae_identity}%"
        shm_dir: "{infer:env:XDGX_SHM_DIR}/ai/{infer:bonded:fae:identity}/{infer:bonded:fae:session_nom}"
queen:
    shm_dir: "{infer:ai_shm_dir}/queen"
    channel_bonded_fae_input_file: "{infer:queen:shm_dir}/channel/fae/bond/input.txt"
    channel_bonded_fae_input_dir: "{infer:queen:shm_dir}/channel/fae/bond/input"
    channel_bonded_fae_output_file: "{infer:bonded:fae:shm_dir}/channel/ant/bond/queen/input.txt"
    channel_bonded_fae_output_dir: "{infer:bonded:fae:shm_dir}/channel/ant/bond/queen/input"
drone:
    shm_dir: "{infer:ai_shm_dir}/drone/{infer:drone:name}"
    channel_bonded_fae_input_file: "{infer:drone:shm_dir}/channel/fae/bond/input.txt"
    channel_bonded_fae_input_dir: "{infer:drone:shm_dir}/channel/fae/bond/input"
    channel_bonded_fae_output_file: "{infer:bonded:fae:shm_dir}/channel/ant/bond/drone/{infer:drone:name}/input.txt"
    channel_bonded_fae_output_dir: "{infer:bonded:fae:shm_dir}/channel/ant/bond/drone/{infer:drone:name}/input"
env:
  XDG_CACHE_HOME: ~/.sys/.xdg/cache
  XDGX_SHM_DIR: /dev/shm/box
